# Node.js modules
node_modules/

# npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Build output
/dist
/build

# Logs
logs
*.log
npm-debug.log*

# IDE/Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
coverage/
*.lcov

# Dependency directories
jspm_packages/
